In [ ]:
import modulo_conn_sql as mcq
import numpy as np
import pandas as pd 
import datetime 
import matplotlib.pyplot as plt
from pandas.tseries.offsets import MonthEnd
from pandas.tseries.offsets import MonthBegin
import random

def conectarSQL():
    conn = mcq.ConexionSQL()
    cursor = conn.getCursor()
    return cursor

#Query BD SQL-Server Cemex
def querySQL(query, parametros):
    #Conectar con base sql y ejecutar consulta
    cursor = conectarSQL()
    try:
        cursor.execute(query, parametros)
        #obtener nombre de columnas
        names = [ x[0] for x in cursor.description]
        
        #Reunir todos los resultado en rows
        rows = cursor.fetchall()
        resultadoSQL = []
            
        #Hacer un array con los resultados
        while rows:
            resultadoSQL.append(rows)
            if cursor.nextset():
                rows = cursor.fetchall()
            else:
                rows = None
                
        #Redimensionar el array para que quede en dos dimensiones
        resultadoSQL = np.array(resultadoSQL)
        resultadoSQL = np.reshape(resultadoSQL, (resultadoSQL.shape[1], resultadoSQL.shape[2]) )
    finally:
            if cursor is not None:
                cursor.close()
    return pd.DataFrame(resultadoSQL, columns = names)

In [ ]:
df = querySQL( "SELECT * FROM SCAC_AT2_condensadoservicio where FechaEntrega BETWEEN '2022-03-06' AND '2022-03-20'" , () )
df = df.drop(columns=['FechaConsulta', 'ID'])

In [ ]:
id_inicial= 804391
id_array = [*range(id_inicial, id_inicial + len(df), 1)]

df_new = pd.DataFrame({'ID':id_array} )
df_new = pd.concat([df_new, df], axis=1)

In [ ]:
 
df_new.to_csv("MAR2022.csv", index=False, encoding = 'utf-8-sig', sep= '|' )